<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <remove name="TEGAF_JTP" />
      <add name="TEGAF_JTP"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Scripts\hoangp5\TEG-AF_JTP\Department_training_tracking\.venv\Scripts\python.exe|D:\Scripts\hoangp5\TEG-AF_JTP\Department_training_tracking\.venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="config.wsgi.application" />
    <add key="PYTHONPATH" value="D:\Scripts\hoangp5\TEG-AF_JTP\Department_training_tracking" />
    <add key="DJANGO_SETTINGS_MODULE" value="config.settings" />
    <add key="WSGI_LOG" value="D:\Scripts\hoangp5\TEG-AF_JTP\Department_training_tracking\logs\wfastcgi.log" />
    <add key="ALLOWED_HOSTS" value="tegaf-jtp.intel.com,tegaf-jtp,tegaf-generic.gar.corp.intel.com,10.109.81.178,localhost,127.0.0.1" />
  </appSettings>

</configuration>
